<section class="hero-section" style="{{hero_image}}background-image:url('{{ glide:url width="100%" height="auto" }}');{{/hero_image}}">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>{{ hero_heading }}</h1>
        <h3 class="mb-8 -mt-2">{{ hero_subtitle }}</h3>
        {{ buttons }}
            <a href="{{ button_link }}" target="_blank" class="bg-white px-6 py-4 text-black rounded">
                {{ button_text }}
            </a>
        {{ /buttons }}
    </div>
</section>
<section class="first-cta">
    <h2>{{ cta_heading }}</h2>
    <h3>{{ cta_subtitle }}</h3>
    <a href="{{ cta_button_link }}" class="bg-white px-6 py-4 text-black rounded">
        {{ cta_button_text }}
    </a>
</section>
<section class="welcome-section">
    <h2>{{ welcome_heading }}</h2>
    <h3>{{ welcome_subtitle }}</h3>
    <div class="welcome-image-wrapper rounded">
        {{ welcome_image }}
        <img src="{{ glikde:url width='100%' height='auto' }}" alt="">
        {{ /welcome_image }}
    </div>
    <p>{{ welcome_text }}</p>
</section>
<section class="second-cta-section">
    <h2>{{ second_cta_heading }}</h2>
    <h3>{{ second_cta_subheading }}</h3>
    <a href="{{ cta_button_link }}" class="bg-white px-6 py-4 text-black rounded">
        {{ cta_button_text }}
    </a>
</section>
<section class="salvation-section">
    <h2>{{ salvation_heading }}</h2>
    <h3>{{ salvation_subtitle }}</h3>
    <a href="{{ cta_button_link }}" class="bg-white px-6 py-4 text-black rounded">
        {{ cta_button_text }}
    </a>
</section>