<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>
<body class="bg-slate-100 font-sans leading-normal text-white">
    <header class="header">
        <div class="logo-wrapper">
        {{ main_logo:main_logo }}
            <img src="{{ glide:url width="280" height="auto"}}" alt="">
        {{ /main_logo:main_logo }}
        </div>
        <div class="menu-wrapper">
          <div class="flex gap-10">
            {{ collection:pages }}
                <a href="{{ url }}">{{ title }}</a>
            {{ /collection:pages }}
          </div>
        </div>
        <div class="login-wrapper">
            <div class="login-btn rounded">
                Login
            </div>
        </div>
    </header>
    <div class="mx-auto lg:min-h-screen flex flex-col items-center">
        {{ template_content }}
    </div>
    <footer class="footer rounded-xl bg-gray-900 w-full max-w-6xl mx-auto min-h-[200px] flex items-center justify-center mb-4">
        <div class="flex items-center justify-center">
            <p class="text-white text-center">
                &copy; {{ now format='Y' }} by {{ site:name }} Baptist Church <br>
                All Rights Reserved
            </p>
        </div>
    </footer>
</body>
</html>
