<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title ?? site:name }}</title>
  {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>

<body class="bg-slate-100 font-sans leading-normal text-white">
  <header class="header">
    <h3>THIS IS THE HEADER</h3>
  </header>
  <div class="mx-auto lg:min-h-screen flex flex-col items-center">
    {{ template_content }}
  </div>
  <footer class="footer rounded-xl bg-gray-900">
    <h3>THIS IS THE FOOTER</h3>
  </footer>
</body>

</html>