@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

/* GLOBAL */
html, body {
  font-size: 18px;
  background-color: rgb(18, 18, 18);
}
h1 {
  font-size: 60px;
  font-weight: 100;
}
h2 {
  font-size: 45px;
  font-weight: 100;
}
h3 {
  font-size: 35px;
  font-weight: 100;
}
h4 {
  font-size: 25px;
  font-weight: 100;
}
p {
  width: 100%;
  max-width: 800px;
}
a {
  margin: 20px;
}
/* HEADER */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
/* FOOTER */
.footer {
  max-width: 1200px;
  width: 100%;
  margin: 25px auto;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: rgb(23, 23, 23);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* HOME PAGE */
.hero-section {
  background-size: cover;
  background-position: center;
  height: 50vh;
  max-width: 1200px;
  width: 100%;
  margin: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  background-color: rgba(0,0,0,.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.hero-content {
  position: static;
  z-index: 1;
  color: white;
  text-align: center;
}
.first-cta {
  background-color: #756256;
  min-width: 592px;
  width: 100%;
  padding: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.welcome-section {
  padding: 50px;
  background-color: rgb(23, 23, 23);
  max-width: 1200px;
  width: 100%;
  margin: 15px;
  display: flex;
  gap: 20px;
  color: white;
}
.welcome-image-wrapper {
  background-color: black;
  width: 280px;
  height: 350px;
  margin: 20px auto;
  overflow: hidden;
}
.second-cta-section {
  position: relative;
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 1200px;
  width: 100%;
  margin: 15px;
  background-color: #2d2d2d;
}
.salvation-section {
  padding: 75px;
  text-align: center;
  min-width: 592px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2d2d;
}
.cta-wrapper {
  max-width: 1200px; 
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 16px;
  
}
/* INTERIOR PAGE */